body{
    font-family: Arial;
    background:#f3f4f6;
    padding:20px;
}

.card{
    background:white;
    border-radius:18px;
    padding:15px;
    margin-bottom:15px;
    box-shadow: 8px 8px 16px #cfd3d6,
                -8px -8px 16px #ffffff;
}

a{
    text-decoration:none;
}